


body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

h3 {
    font-size: 1.7rem;
}
p {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}


#main-content{
    background-color: rgba(255, 255, 255, 0.849);
    
    
    border-radius: 10px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   border: 1px solid rgb(0, 0, 0);
   font-family: 'Bebas Neue', cursive;

}


#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
   
}


#sketchpad {
 
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

@media (max-width: 599px){

    #main-content {
        margin: auto
    }
}