
#main-div{

}

#row {
    display: flex;
    flex-direction: row;
   width: 100vw;
   height: 100vh;
 
}


#canvas-container1{
    width: 50%;
    height: 100vh;
    
}
#canvas1 {
    
    
   
    width:70%;
    height: 100%;
    
    filter: url("#goo")


}

#canvas-container2 {
    
    width: 50%;
    height: 25%;
}

#canvas2{
    width: 60%;
}



body {
    margin: 0;
    
   
}